@use "../global" as *;

.p-flow {
  padding-top: rem(64);
  padding-bottom: rem(64);
  background: #F5FBFE;
  position: relative;
  overflow-x: clip;

  @include mq("md") {
    padding-top: rem(96);
    padding-bottom: rem(96);
  }
}

.p-flow::before {
  position: absolute;
  content: '';
  background: url(../images/common/flow_top_icon.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(80);
  height: auto;
  aspect-ratio: 156 / 178;
  object-fit: cover;
  top: rem(-12);
  right: rem(-4);
  @include mq(md){
    width: rem(156);
    top: rem(-12);
    right: rem(-16);
    
  }
}

.p-flow__content {
  max-width: rem(1080);
  margin-left: auto;
  margin-right: auto;
}

.p-flow__title {
  text-align: center;
  font-size: rem(28);
  font-weight: 800;
  letter-spacing: 0.1em;
  line-height: 1.5;

  @include mq("md") {
    font-size: rem(36);
  }
}

.p-flow__title span {
  color: #54c3f1;
}

.p-flow__items {
  margin-top: rem(32);

  @include mq("md") {
    margin-top: rem(48);
  }
}

.p-flow__item {
  background-color: $white;
  border-radius: rem(30);
  padding: rem(20);

  @include mq("md") {
    padding: rem(40) rem(72);
  }
}

.p-flow__card {
  display: grid;
  grid-template-columns: rem(78) 1fr;
  grid-template-areas:
    "step heading"
    "text text";
  gap: rem(16);
  align-items: start;

  @include mq(md) {
    gap: rem(48);
    grid-template-areas: "step body";
  }
}

.p-flow__step {
  border-radius: 9999px;
  background-color: #54c3f1;
  color: $white;
  display: grid;
  place-items: center;
  align-content: center;
  grid-area: step;
  width: rem(62);
  height: rem(62);
  @include mq(md){
    width: rem(78);
    height: rem(78);
    
  }
}

.p-flow__body {
  display: contents;

  @include mq(md) {
    display: block;
    grid-area: body;
  }
}

.p-flow__step-label {
  font-family: $second-font-family;
  font-weight: $bold;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: rem(14);
  @include mq(md){
    font-size: rem(17);
    
  }
}

.p-flow__step-num {
  margin-top: rem(-4);
  font-family: $second-font-family;
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0.03em;
  font-size: rem(24);
  @include mq(md){
    font-size: rem(28);
    
  }
}

.p-flow__heading {
  grid-area: heading;
  color: #005d97;
  font-weight: $bold;
  letter-spacing: 0.1em;
  line-height: 1.5;
  position: relative;
  z-index: 2;
  padding-bottom: rem(10);
  width: fit-content;
  font-size: rem(22);
  @include mq(md){
    font-size: rem(24);
    
  }
}

.p-flow__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: rem(12);
  width: 100%;
  height: rem(6);
  background-color: #fff100;
  z-index: 0;
}

.p-flow__text {
  grid-area: text;
  margin-top: rem(10);
  font-weight: 500;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0.05em;

  @include mq("md") {
    font-size: rem(16);
  }
}
.p-flow__text a {
  text-decoration: underline;
}

.p-flow__arrow {
  width: rem(47);
  height: rem(47);
  margin-left: auto;
  margin-right: auto;
}

.p-flow__arrow img {
  width: 100%;
  height: 100%;
  display: block;
}

.p-flow__attention {
  margin-top: rem(40);
  width: 100%;
  max-width: rem(800);
  margin-left: auto;
  margin-right: auto;
  
  
  @include mq("md") {
    text-align: center;
    margin-top: rem(40);
  }
}

.p-flow__attention-head {
  display: grid;
  justify-items: center;
  row-gap: rem(16);
}

.p-flow__attention-dot {
  width: rem(50);
  height: rem(50);
  border-radius: 9999px;
  background-color: #e5005a;
  display: grid;
  place-items: center;
}

.p-flow__attention-dot img {
  width: rem(24);
  height: rem(24);
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-flow__attention-title {
  color: #e5005a;
  font-weight: $bold;
  font-size: rem(24);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.p-flow__attention-text {
  margin-top: rem(16);
  font-weight: 500;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: 0.05em;
}