@use "../global" as *;

.p-mv {
  padding-top: rem(98);
  padding-bottom: rem(102);
}

.p-mv__img {
  max-width: rem(1200);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
