@use "../global" as *;

.p-worries {
  background-color: #54c3f1;
  padding-top: rem(72);
  padding-bottom: rem(56);

  @include mq("md") {
    padding-top: rem(96);
    padding-bottom: rem(96);
  }
}

.p-worries__title {
  color: $white;
  text-align: center;
  font-size: rem(28);
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-weight: 800;

  @include mq("md") {
    font-size: rem(36);
  }
}
.p-worries__title span {
  color: #fff100;
}

.p-worries__items {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(16);

  @include mq("md") {
    margin-top: rem(45);
    flex-direction: row;
    justify-content: center;
    gap: rem(25);
  }
}

.p-worries__item {
  width: 100%;

  @include mq("md") {
    max-width: rem(344);
  }
}

.p-worries__card {
  background-color: $white;
  border-radius: rem(15);
  box-shadow: 1px 2px 7px rgba(0, 93, 151, 0.17);
  padding: rem(48) rem(44);
  display: grid;
  place-items: center;
  min-height: rem(320);
  gap: rem(16);
  
  @include mq("md") {
    gap: rem(24);
    padding: rem(56) rem(44);
    min-height: rem(377);
  }
}

.p-worries__card-title {
  font-weight: $bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  text-align: left;
  font-size: rem(20);
  @include mq(md){
    font-size: rem(22);
    
  }
}
.p-worries__card-title span {
  color: #005D97;
}

.p-worries__card-title--center {
  text-align: center;
}

.p-worries__card-img {
  width: 100%;
  max-width: rem(224);
  @include mq(md){
    max-width: rem(256);
    
  }
}

.p-worries__card-img img {
  width: 100%;
  height: auto;
  display: block;
}